@import "variables";

// .................. body part....................//

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $background_color;
    font-family: "Ubuntu", sans-serif;
}
// .................. body part....................//

.box {
    content: "";
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%, 10%);
    box-shadow: 10px 10px 30px #c0c0c0a4;
    background-color: white;
    border-radius: 5px;
    height: 600px;
    width: 900px;

    .log {
        padding: 50px 40px;

        h3 {
            color: $main_color;
            text-align: center;
        }
        .icon {
            padding: 10px;
            display: flex;
            justify-content: center;

            .icon_back {
                height: 40px;
                width: 40px;
                color: $main_color;
                display: grid;
                place-items: center;
                border: 2px solid $main_color;
                margin: 5px 10px;
                border-radius: 50%;
            }
        }
        .registrtion_paragraph {
            text-align: center;
            color: rgb(14, 8, 36);
        }

        .form-control {
            margin: 15px 10px;
            padding: 12px;
            background-color: #f7f8f9;
            border: 2px solid #d9e5e9;
            border-radius: 8px;
        }

        .btn1 {
            padding: 12px 50px;
            border-radius: 10px;
            border: 2px solid $main_color;
            margin-left: 10px;
            color: #ffffff;
            font-weight: 500;
            background-color: $main_color;
            transition: all 0.5s;
            cursor: pointer;

            span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;

                &::after {
                    content: "\00bb";
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }
            }

            &:hover span {
                padding-right: 25px;
            }
            &:hover span::after {
                opacity: 1;
                right: 0;
            }
        }

        .btn2 {
            padding: 12px 50px;
            border-radius: 10px;
            border: 2px solid $main_color;
            margin-left: 10px;
            color: $main_color;
            font-weight: 500;
            background-color: white;
            transition: all 0.5s;
            cursor: pointer;

            span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;

                &::after {
                    content: "\00bb";
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }
            }

            &:hover span {
                padding-right: 25px;
            }
            &:hover span::after {
                opacity: 1;
                right: 0;
            }
            
        }
    }
}

.img_ilestration {
    img {
        height: 600px;
        width: 500px;
        border-radius: 5px;
    }
}

.spn {
    color: $main_color;
}
.privacy {
    display: flex;

    .check_box {
        margin-left: 20px;
        height: 25px;
        width: 15px;
        color: $main_color;

        &:checked ~ .check_box {
            background-color: $main_color;
        }
    }

    p {
        padding-left: 15px;
    }
}
